---
import '../styles/main.css'
import { ViewTransitions } from 'astro:transitions';
import { fade,slide } from 'astro:transitions';


export interface TransitionAnimation {
  name: string; // The name of the keyframe
  delay?: number | string;
  duration?: number | string;
  easing?: string;
  fillMode?: string;
  direction?: string;
}

const heading = "Explore, Have Fun, and Dive into Adventure!";
const subheading = "Live Your Life!";
const appIcon = "/images/chat-bubble.png";
const appScreenshot = "/images/globe.png";
const footerImage = "/images/footer-image.png";
const badges = [
	{
		link: " https://dw474l86cf6h8.cloudfront.net/app/#/room/%23friends%26family%3Akeanu.im",
		image: "/images/chat-button.svg"
	},

];
const badges2 = [
	{
		link: "https://dw474l86cf6h8.cloudfront.net/app/#/room/%23welcome%3Akeanu.im",
		image: "/images/chat-button-friend.svg"
	},

];
const authors = [
	{
		name: "Robert",
		url: "https://robertshops.com/"
	},

];
const pageTitle = "Travel"
const favicon = "/images/compas-icon.svg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-THKEK17EZ3"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-THKEK17EZ3');
</script>

	</head>
	<body>
		<div class="container">
			<main>
				<div class="text-container">
					<img src={appIcon} class="app-icon">
					<h1 class="heading" transition:animate="slide">{heading}</h1>
					<h2 class="subheading">{subheading}</h2>
					<center><img src={appScreenshot} class="app-screenshot-desktop" transition:animate={fade({ duration: '0.4s' })}></center>
					<div class="badge-container">
						{badges.map(badge => (
							<div>
								<a href={badge.link} target="_blank">
									<img src={badge.image} class="badge" />
								</a>
							</div>
						))}
					</div>
					<div class="badge-container">
						{badges2.map(badge => (
							<div>
								<a href={badge.link} target="_blank">
									<img src={badge.image} class="badge" />
								</a>
							</div>
						))}
					</div>	
				</div>
				<div>
					<img src={appScreenshot} class="app-screenshot" transition:animate={fade({ duration: '0.4s' })}>
				</div>
			</main>
			
			<footer>
				<img src={footerImage} class="footer-image">
			</footer>
			
		</div>
	</body>
</html>
